:root {
    --verde: #00ca4e;
    --amarelo: #ffbd44;
    --vermelho: #ff605c;
    --branco: #fff;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: var(--branco);
}

.janela-container {
    width: 500px;
    height: 450px;
    margin: 0 auto;
    flex-direction: column;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
}

.barra-ferramentas {
    display: flex;
    align-items: center;
    padding: 9px;
}

.botoes-janela {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.botoes-janela li {
    padding: 0 4px;
}

.botao-janela {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.fechar {
    background-color: var(--vermelho);
}

.minimizar {
    background-color: var(--amarelo);
}

.maximizar {
    background-color: var(--verde);
}

.conteudo-janela {
    display: flex;
    flex: 1;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 90%;
}

.conteudo-janela header {
    text-align: center;
    margin-bottom: 20px;
}

.conteudo-janela header h1 {
    font-size: 2.5em;
}

.conteudo-janela header p {
    margin-top: 20px;
    padding: 15px;
    color: #000;
    font-size: 1.2em;
    background-color: var(--branco);
    border-radius: 20px;
}

.oculto {
    display: none !important;
}

#secao-dicas,
#secao-historico {
    text-align: center;
    margin-bottom: 10px;
}

.campo-entrada {
    padding: 8px 15px;
    border: 1px solid #334455;
    border-radius: 4px;
    background-color: #012030;
    color: var(--branco);
    width: 60%;
    margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.botao-acao,
.botao-comecar,
#botao-novo-jogo {
    padding: 10px 20px;
    border: none;
    color: #011522;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.botao-acao {
    background-color: var(--verde);
}

.botao-comecar {
    background-color: var(--amarelo);
    margin-top: 15px;
}

#botao-novo-jogo {
    margin-top: 15px;
    background-color: var(--vermelho);
}

.lista-palpites {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.li-palpite {
    list-style-type: none;
    text-align: center;
    padding: 6px;
    border-radius: 8px;
}

.titulo-historico {
    font-weight: normal;
    margin-top: 15px;
}

#secao-controles,
#secao-historico,
#secao-novo-jogo {
    display: none;
}