body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header h1 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

li {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8b9ec;
}

.especiais {
    background-color: #b7deff;
}

#apagartudo {
    background-color: #ff995e;
}